.banner{
	background-image: url(../../images/earth.jpg);
	padding: 150px 0px;
	background-position: center;
	background-size: cover;
	border-radius: 8px;
	background-color: black;
	}

.banner h1 {
	font-family: 'Baskervville', serif;
	font-size: 52px;
	margin-bottom: 100px;
	letter-spacing: 11px;
}

#subtitle{
	font-family:'Baskervville',serif;
	font-size: 23px;
	text-align: right;
}

.btn-grey{
	background-color: rgb(155, 155, 155);
	color:white;
	padding: 15px 20px;
	border-radius: 5px;
	text-decoration: none;
}